* {
    margin: 10px;
}

.header {
    background: yellow;
    height: 200px;
    text-align: center;
    border: 3px solid black;
    box-sizing: border-box;
}

.father_block {
    display: flex;
    flex-wrap: wrap;
}


.menu {
    background: blueviolet;
    height: 400px;
    width: 300px;
    border: 3px solid black;
    box-sizing: border-box;
    flex-grow: 1;
    margin-top: 25px;
    text-align: center;
    font-size: 23px;
}

.post_1 {
    background: #2edede;
    height: 200px;
    width: 1300px;
    border: 3px solid black;
    box-sizing: border-box;
    flex-grow: 7;
    text-align: center;
    font-size: 23px;
}

.post_2 {
    background: #2edede;
    height: 200px;
    width: 1300px;
    border: 3px solid black;
    box-sizing: border-box;
    flex-grow: 7;
    text-align: center;
    font-size: 23px;
}

.footer{
    background: yellow;
    height: 200px;
    text-align: center;
    border: 3px solid black;
    font-size: 23px;
}