body {
    background: white;
}

h1, h2, h3, h4 {
    text-align: center;
    font-size: 50px;
    color: #704619;
}

h5 {
    font-size: 50px;
    color: #704619;
}

p,li {
    font-size: 25px;
    color: #000000;
    text-align: justify;

}

img {
    margin-left: +30%;
}

.new_page,.navigation{
    text-decoration: none;
}

.new_page:hover{
    color: #8fcb30;
}

.navigation:hover{
    color: #2edede;
}

