*{
    margin: 0;
    font-size: 23px;
    text-align: center;
}

.main_block{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.father_block_home_about{
    display: flex;
    justify-content: space-between;
}

.home,.about{
    background: #2269BB;
    height: 900px;
    width: 600px;
    border: 1px solid black;
    box-sizing: border-box;
}

.kabobs{
    background: #2269BB;
    height: 300px;
    width: auto;
    margin-top: 15px;
    border: 1px solid black;
    box-sizing: border-box;
}

.blocks_kabobs{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.kabobs_block{
    background: #16457A;
    width: 300px;
    height: 300px;

}


